Here is two sides of a conversation, Human and AI Assistant
```ai-assistant-description
{{ APP_DESCRIPTION }}
```
```user-description
{{ USER_DESCRIPTION }}
```
The user's goal of this conversation has been satisfied,
in order to finish the conversation user should end his response with the word "FINISHED" to indicate the end of the conversation.
But before using word "FINISHED" make sure user task finished.
Here is a conversation between Human and AI Assistant"
{history}
>> AI:
{input}
> User:
